.nav {
  background-color: #f8f9fa;
  padding: 10px 20px;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.nav ul li {
  margin: 0 15px;
}

.nav ul li a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.nav :global(.active) {
  background-color: #007bff;
  color: white; 
  padding: 5px 10px;
  border-radius: 5px;}